<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu página</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f0f0f0; /* color de fondo para el ejemplo */
        }
        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: black;
            border-top: 1px solid white;
            box-shadow: 0px 0px 20px rgba(106, 21, 162, 0.5);
            padding: 20px;
            color: white;
        }
    </style>
</head>
<body>
    <div class="content">
        <!-- Tu contenido va aquí -->
    </div>
    <div class="footer">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <h5>Información de contacto</h5>
                    <p>Dirección: Santiago. P.A.C</p>
                    <p>Teléfono: +569 94083380</p>
                    <p>Correo electrónico: diego.villena@gmail.com</p>
                </div>
                <div class="col-lg-6">
                    <h5>Enlaces útiles</h5>
                    <ul class="list-unstyled">
                        <li><a href="######" target="_blank"><img width="30" height="30" src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a></li>
                        <li><a href="######" target="_blank"><img width="30" height="30" src="https://img.icons8.com/nolan/64/github.png" alt="github"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <p>&copy; 2024 Empresa. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
